{% extends "base.html" %}
{% block page_name %}
    Rooms
{% endblock page_name %}

{% block content %}
<!-- {{now}} -->
    {% for room in rooms %}
        <!-- <a href="/rooms/{{room.pk}}"> -->
        <a href="{% url 'rooms:detail' room.pk %}">
            <h4>{{room.name}} / ${{room.price}}- {{room.beds}} beds</h4>
        </a>    
    {% endfor %}
    <h5>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        {% if  page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </h5>
    <p>
        {% for i in page_obj.paginator.page_range %}
            <a href="?page={{i}}">{{i}}</a>
        {% endfor %}
    </p>
{% endblock %}
