<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %} {% endblock page_title %} | AirNomad</title>
</head>
<body>
    <h2>AirNomad</h2>
    <header style="display: flex; align-items: center; padding: 1rem;">
        <a href="{% url 'core:home' %}">AirNomad</a>
        <ul id="navbar" style="display: flex; list-style: none;">
            {% include "partials/nav.html" %}

            {% block search-bar %}
            <form method="get"  action="{% url 'rooms:search' %}">
                <input type="text" name="city" placeholder="Search By city" />
            </form>
            {% endblock search-bar %}
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    {% include "partials/footer.html" %}

</body>
</html>